@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");

:root {
	--headingFont: "Playfair Display", serif;
	--mainFont: "Roboto", sans-serif;
	--bgBlue: #0891b2;
}
* {
	font-family: var(--mainFont);
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

header {
	position: relative;
	min-width: 100%;
	min-height: 40%;
}

h1 {
	font-size: 2.2rem;
}

h1,
h2 {
	font-family: var(--headingFont);
	font-weight: 400;
}

.headerBg {
	position: absolute;
	width: 100%;
	min-height: 35%;
	background-color: var(--bgBlue);
	transform: skewY(-6deg);
	transform-origin: bottom left;
	filter: drop-shadow(0 0 0.75rem rgb(56, 56, 56));
}

.icon {
	height: 24px;
	width: auto;
}
.aboutMeContainer {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	min-height: 300px;
	background-color: white;
	padding: 1rem;
	filter: drop-shadow(0 0 0.25rem rgb(56, 56, 56));
}

.imgContainer img {
	height: 400px;
	width: auto;
	filter: drop-shadow(0 0 0.25rem rgb(56, 56, 56));
}
.imgContainer {
	position: relative;
}
.imgContainer h1 {
	color: white;
	position: absolute;
	z-index: 2;
	top: 85%;
	left: 50%;
	width: max-content;
	transform: translate(-50%, -50%);
}
.introduction {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
main {
	display: flex;

	justify-content: center;
}
main .introduction {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 71%;
}

.links {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr;
	grid-auto-columns: max-content;
	gap: 1rem;
	justify-items: end;
}

.gridContainer {
	display: grid;
	gap: 2rem;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: 100%;
}
.project {
	display: flex;
	max-width: 380px;
	min-width: 100px;
	flex-direction: column;
	background-color: white;
	filter: drop-shadow(0 0.2rem 0.2rem rgb(56, 56, 56));
}

.headingContainer,
.project p {
	display: flex;
	align-items: center;
	padding: 0px 1rem 0px 1rem;
}
.headingContainer .links {
	gap: 0.5rem;
}

.headingContainer h3 {
	flex: 1;
}

.screenshot {
	background-color: rgb(85, 180, 192);
	min-height: 18rem;
}

@media (max-width: 800px) {
	.gridContainer {
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	}

	.project {
		min-width: 270px;
	}

	main .introduction {
		width: 100%;
	}
	.introduction {
		display: table;
		margin: 0px auto;
	}
	.aboutMeContainer {
		display: block;
		margin-top: 10%;
		min-height: 500px;
		text-align: justify;
	}

	.links {
		display: table;
		margin: 60px auto auto auto;
	}

	.icon {
		margin: 0px 1rem 0px 0px;
	}

	.imgContainer {
		float: left;
		z-index: 1;
		translate: -20px -10px;
	}

	.imgContainer h1 {
		top: 0;
		left: 130%;
	}
}
